.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;    
    &--black {
        background-color: transparent;
        color: var(--md-sys-color-on-surface);
        border: 1px solid var(--md-sys-color-outline-variant);
    }
  
    &--orange {
        background-color: transparent;
        color: var(--md-sys-color-error);
        border: 1px solid var(--md-sys-color-error);
    }
  
    &--cyan {
        background-color: transparent;
        color: var(--md-sys-color-primary);
        border: 1px solid var(--md-sys-color-primary);
    }

    &--cyan-filled{
        background-color: var(--md-sys-color-primary);
        color: var(--md-sys-color-on-primary);
        border: none;
    }

    &--teal-filled{
        background-color: var(--md-sys-color-tertiary);
        color: var(--md-sys-color-on-tertiary);
        border: none;
    }

    &--teal{
        background-color: transparent;
        color: var(--md-sys-color-on-tertiary-container);
        border: 1px solid var(--md-sys-color-on-tertiary-container);
    }
  
    &--small {
        padding: 0.4rem 1rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
  
    &--medium {
        padding: 1rem 0;
        font-size: 1.8rem;
        line-height: 3.2rem;
    }
  
    &--large {
        padding: 1.9rem 0;
        font-size: 2.2rem;
        line-height: 3.4rem;
    }
  
    &--disabled {
      background-color: var(--disabled-color);
      cursor: not-allowed;
    }
  }
  