.connection-recommendbox-container{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    box-shadow: 0 18px 24px rgba(0, 0, 0, 0.08);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); 

    .connection-recommendbox__header{
        padding: 0.8rem 2.4rem;
        color: var(--text-bold);
        font-size: 1.8rem;
        line-height: 3.2rem;
        letter-spacing: -0.4px;
        font-weight: 500;
        border-bottom: 1px solid var(--separator-color);
    }

    .connection-recommendbox__infobox-container{
        padding: 0 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        .connection-recommendbox__infobox{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 1.6rem;
            border-bottom: 1px solid var(--separator-color);

            &:last-child{
                border-bottom: none;
            }
        
            &-avatar-infogroup{
                display: flex;
                gap: 0.8rem;
                align-items: center;
                height: 6rem;
            }

            &-avatar{
                height: 100%;  
                aspect-ratio: 1 / 1;
            }
            &-name{
                font-size: 1.2rem;
                color: var(--text-bold);
                line-height: 2rem;
                font-weight: 700;
            }
            &-position{
                font-size: 1.2rem;
                color: var(--text-regular);
                line-height: 2rem;
                font-weight: 600;
            }
            &-time{
                font-size: 1.2rem;
                color: var(--text-regular);
                line-height: 2rem;
                font-weight: 400;
            }

            &-button{
                color: var(--cyan);
                font-size: 1.4rem;
                line-height: 2.4rem;
                font-weight: 500;

                border: 1px solid var(--cyan);
                border-radius: 4px;
                padding: 0.4rem 1rem;

                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
    }

    .connection-recommendbox__viewall{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 0;
        border-top: 1px solid var(--separator-color);
        margin-top: -1.6rem;
        &-group{
            display: flex;
            align-items: center;

            &:hover{
                cursor: pointer;
                opacity: 0.7;
            }
            & p{
                color: var(--cyan);
                font-size: 1.4rem;
                line-height: 2.4rem;
            }

            & path{
                stroke: var(--cyan);
            }
        }
    }
}






