.footerNavlink{
    text-decoration: none;
    color: var(--md-sys-color-on-primary);
    & div{
        height: 100%;
        color: var(--md-sys-color-on-primary);
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 300;

        & svg{
            width: 2.4rem;
            height: 2.4rem;
            fill: var(--md-sys-color-on-primary);
        }
    
        & img{
            height: 2.4rem;
            aspect-ratio: 1;
        }

        & p{
            color: var(--md-sys-color-on-primary);
        }
    }  
}

.footerNavlink.active{
    & div{
        color: var(--md-sys-color-on-primary);
        font-weight: 600;
        & svg{
            fill: var(--md-sys-color-on-primary);
            & path{
                stroke: var(--md-sys-color-on-primary);
            }
        }
    }  
}