.general-box{
    background-color: var(--md-sys-color-surface-container);
    border: 1px solid var(--md-sys-color-outline-variant);
    & div{
        height: 4.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.6rem;
        color: var(--md-sys-color-on-surface);
    }
    & .header{
        font-size: 1.8rem;
        line-height: 3.2rem;
        font-weight: 500;
        border-bottom: 1px solid var(--md-sys-color-outline-variant);
    }

    & [class$="-box"]{
        & p{
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: var(--md-sys-color-on-surface);
        }

        &:hover{
            cursor: pointer;
        }
    }
}