.profilepage-connections__container{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding-top: 3.2rem;
}

.profilepage-connections__statusbar{
    display: flex;
    justify-content: space-between;
    height: 2rem;

    &-search{
        display: flex;
        align-items: center;
        gap: 0.8rem;

        & svg path{
            fill: var(--md-sys-color-on-surface);
        }

        & input.searchbox{
            background-color: var(--md-sys-color-surface-container);
            border: none;
            color: var(--md-sys-color-on-surface);
            font-size: 1.2rem;
            line-height: 2rem;
            &:focus{
                outline: none;
            }
            // &::placeholder{
            //     color: var(--md-sys-color-on-surface-variant);
            // }
        }
    }

    &-status{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        line-height: 2rem;

        & .recently-added{
            color: var(--md-sys-color-primary);
            font-weight: 600;
        }

        & .all{
            color: var(--md-sys-color-on-surface-variant);
        }

        & .separator-container{
            height: 100%;
            margin: 0 0.8rem;
            display: flex;
            align-items: center;
            justify-content: center;

            & .separator{
                height: 70%;
                border: 1px solid var(--md-sys-color-on-surface-variant);
            }
        }
    }
}

.profilepage-connections__connections{
    display: flex;
    align-items: center;
    gap: 7.2rem;
    flex-wrap: wrap;

    & .connection{
        min-width: 14rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        line-height: 2rem;

        &__avatar{
            display: flex;
            align-items: center;
            justify-content: start;
            padding-bottom: 1.6rem;
            & img{
                height: 5.4rem;
                aspect-ratio: 1;
            }
            
        }

        &__name{
            font-weight: 600;
            color: var(--md-sys-color-on-surface);
        }

        &__position{
            font-weight: 500;
            color: var(--md-sys-color-on-surface-variant);
        }

        &__company{
            color: var(--md-sys-color-on-surface-variant);
        }
    }
}