.profilepage-recommendations__container{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-top: 3.2rem;

    & .separator{
        border: 1px solid var(--separator-color);
    }
}

.profilepage-recommendations__statusBar{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3.2rem;

    // & .write-a-recommendation{
    //     font-size: 1.4rem;
    //     line-height: 2.4rem;
    //     color: var(--white);
    //     font-weight: 500;
    //     padding: 0.4rem 1rem;
    //     background-color: var(--cyan);
    //     border-radius: 4px;

    //     &:hover{
    //         cursor: pointer;
    //         opacity: 0.7;
    //     }
    // }

    & .group{
        height: 2rem;
        display: flex;
        align-items: center;

        & div{
            font-size: 1.2rem;
            line-height: 2rem;
        }
        
        & .receive{
            color: var(--teal);
            font-weight: 500;
            padding-right: 0.8rem;
        }

        & .given{
            color: var(--cyan);
        }

        & .separator-container{
            height: 100%;
            padding: 0 0.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            & .separator{
                height: 70%;
                border: 1px solid var(--text-medium);
            }
        }
    }
}

.profilepage-recommendations__recommendations{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    & .recommendation{
        display: flex;
        align-items: center;
        gap: 1.6rem;

        &__avatar{
            align-self: self-start;
            & img{
                height: 6.8rem;
                aspect-ratio: 1;
            }
        }

        &__info{
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            &-name{
                color: var(--text-bold);
                font-size: 1.6rem;
                line-height: 2.6rem;
                font-weight: 500;
            }

            &-job{
                color: var(--text-regular);
                font-size: 1.4rem;
                line-height: 2.2rem;
            }

            &-recommendation{
                display: flex;
                gap: 1rem;
                & svg{
                    width: 1.6rem;
                    height: 1.4rem;
                }

                & p{
                    color: var(--text-regular);
                    font-size: 1.6rem;
                    line-height: 2.6rem;
                }
            }
        }
    }
    

}