.profilepage-recommendations__container{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-top: 3.2rem;

    & .separator{
        border: 1px solid var(--md-sys-color-outline-variant);
    }
}

.profilepage-recommendations__statusBar{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3.2rem;

    & .group{
        height: 2rem;
        display: flex;
        align-items: center;

        & div{
            font-size: 1.2rem;
            line-height: 2rem;
        }
        
        & .receive{
            color: var(--md-sys-color-tertiary);
            font-weight: 500;
            padding-right: 0.8rem;
        }

        & .given{
            color: var(--md-sys-color-primary);
        }

        & .separator-container{
            height: 100%;
            padding: 0 0.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            & .separator{
                height: 70%;
                border: 1px solid var(--md-sys-color-outline-variant);
            }
        }
    }
}

.profilepage-recommendations__recommendations{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    & .recommendation{
        display: flex;
        align-items: center;
        gap: 1.6rem;

        &__avatar{
            align-self: self-start;
            & img{
                height: 6.8rem;
                aspect-ratio: 1;
            }
        }

        &__info{
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            &-name{
                color: var(--md-sys-color-on-surface);
                font-size: 1.6rem;
                line-height: 2.6rem;
                font-weight: 500;
            }

            &-job{
                color: var(--md-sys-color-on-surface-variant);
                font-size: 1.4rem;
                line-height: 2.2rem;
            }

            &-recommendation{
                display: flex;
                gap: 1rem;
                & svg{
                    width: 1.6rem;
                    height: 1.4rem;
                }

                & p{
                    color: var(--md-sys-color-on-surface-variant);
                    font-size: 1.6rem;
                    line-height: 2.6rem;
                }
            }
        }
    }
    

}