.profilepage-header__container{
    
}
.profilepage-header{
    position: relative;
    width: 100%;
    height: 20.4rem;
    background: linear-gradient(to right, rgba(11, 170, 202, 0.3), rgba(11, 170, 202, 0.5));

    & .profilepage-header__grid{
        display: grid;
        max-width: 133.6rem;
        height: 20.4rem;
        margin: 0 auto;
        grid-template-columns: repeat(12, 1fr);
        gap: 3.2rem;
    }
    
    &__avatar-container{
        grid-column: 2 / 4;
        & .profilepage-header__avatar{
            position: relative;
            border: 4px solid var(--white);
            border-radius: 50%;
            height: 19.6rem;
            aspect-ratio: 1;
            top: 5.2rem;
            z-index: 1;
        }
    }
    

    &__info-basicinfo{
        position: relative;
        top: 8.8rem;
        max-height: 8rem;
        grid-column: 4 / 7;
        margin-left: -0.8rem;
        &-name{
            display: flex;
            align-items: center;
            gap: 0.8rem;
            font-size: 1.8rem;
            line-height: 3rem;
            color: var(--text-bold);
            font-weight: 700;
        }

        &-position{
            font-size: 1.6rem;
            line-height: 2.6rem;
            color: var(--text-bold);
        }

        &-place{
            font-size: 1.4rem;
            line-height: 2.2rem;
            color: var(--text-bold);
            font-weight: 600;
        }
    }

    &__info-workinfo{
        position: relative;
        top: 8rem;
        max-height: 9.4rem;
        grid-column: 7 / 12;
        display: flex;
        align-items: center;
        padding: 1.2rem 5.2rem;
        background-color: var(--white);
        border-radius: 4px;
        & div.title{
            font-size: 1.6rem;
            color: var(--text-bold);
            font-weight: 600;
            line-height: 2.6rem;
        }

        & div{
            font-size: 1.4rem;
            color: var(--text-medium);
            line-height: 2.2rem;
        }
        
        & .separator-container{
            flex-grow: 1;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            & .separator{
                height: 50%;
                border: 1px solid var(--text-regular);
            }
            
        }
    }
}

.profilepage-controllers-background{
    width: 100%;
    height: 5.6rem;
    background-color: var(--white);
    border-bottom: 1px solid var(--separator-color);
    .profilepage-controllers__container{
        display: grid;
        max-width: 133.6rem;
        margin: 0 auto;
        grid-template-columns: repeat(12, 1fr);
        gap: 3.2rem;
        height: 100%;

        .profilepage-controllers{
            display: flex;
            align-items: center;
            gap: 1.6rem;
            grid-column: 4 / 13;
            margin-left: -0.8rem;
        }
    }
}

.profilepage-content{
    &__container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 3.2rem;
        max-width: 133.6rem;
        margin: 0 auto;
    }
    
    &__box{
        grid-column: 2/12;
        max-width: 110.6rem;
        margin-top: 5.2rem;
        padding: 2.4rem;
        background-color: var(--white);
    }

    &__navlinks{
        display: flex;
        justify-content: space-between;
        height: 3.6rem;
        border-bottom: 1px solid var(--separator-color);

        & .profilepage-navlink{
            font-size: 2rem;
            line-height: 2.8rem;
            color: var(--text-bold);
            font-weight: 500;
            text-decoration: none;
        
            &.active{
                border-bottom: 1px solid var(--cyan);
            }
        }
        
    }
}

@media screen and (min-width: $phone) and (max-width: $desktop){
    .profilepage-header__container{
        //max-width: 39rem;
        // margin: 0 auto;
        display: grid;
        grid-template-columns: minmax(auto, 11.1rem) auto;
        grid-template-rows: repeat(3, auto);
        column-gap: 1.6rem;
        background-color: var(--cyan-400);

        & .profilepage-header{
            display: contents; 

            &__grid{
                display: contents;
            }
        
            &__avatar-container{
                grid-column: 1;
                grid-row: 1;
                display: flex;
                align-items: center;
                padding: 1.6rem 0 1.6rem 1.6rem;
                & img{
                    width: 9.8rem;
                    height: 9.8rem;
                    top: 0;
                }
            }
            
        
            &__info-basicinfo{
                grid-column: 2;
                grid-row: 1;
                top: 0;
                margin-left: 0;
                width: auto;
                align-self: center;
                &-name{
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
        
                &-position{
                    font-size: 1.4rem;
                    line-height: 2.2rem;
                }
        
                &-place{
                    font-size: 1.2rem;
                    line-height: 2.0rem;
                }
            }
        
            &__info-workinfo{
                top: 0;
                grid-column: 1 / span 2; 
                grid-row: 3;  
                padding: 0 1.6rem 1.6rem 1.6rem;
                & div.title{
                    font-size: 1.6rem;
                    color: var(--text-bold);
                    font-weight: 600;
                    line-height: 2.6rem;
                }
        
                & div{
                    font-size: 1.4rem;
                    color: var(--text-medium);
                    line-height: 2.2rem;
                }
                
                & .separator-container{
                    & .separator{
                        height: 70%;
                        border: 1px solid var(--separator-color);
                    }
                    
                }
            }
        }
        
        & .profilepage-controllers-background{
            grid-column: 1 / span 2;
            grid-row: 2;
            display: flex;
            align-items: center;
            padding: 0 1.6rem;
            border-bottom: none;
            .profilepage-controllers__container{
                display: contents; //remove grid layout
                .profilepage-controllers{
                    display: flex;
                    gap: 1.6rem;
                    margin-left: 0;
                }
            }
        }
    }
    
    .profilepage-content{
        &__container{
            display: contents;
        }
        
        &__box{
            margin: {
                top: 5.2rem;
                left: auto;
                right: auto
            } ;
            width: 39rem;
            max-width: 39rem;
            padding: 2.4rem 1.6rem;
        }
    
        &__navlinks{
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            height: auto;
            border-bottom: 1px solid var(--separator-color);
    
            & .profilepage-navlink{
                height: 4rem;
                font-size: 1.8rem;
                line-height: 3.2rem;
                color: var(--text-bold);
                font-weight: 500;
                text-decoration: none;
            
                &.active{
                    border-bottom: 2px solid var(--black);
                }
            }
            
        }
    }
}