.add-position-box{
    box-shadow: 0 18px 24px rgba(0, 0, 0, 0.08);
    padding: 2.4rem;
    background-color: var(--md-sys-color-surface-container);
    
    &-des{
        color: var(--md-sys-color-on-surface);
        line-height: 2rem;
        line-height: 2rem;
        font-size: 1.2rem;
    }
    & a{
        display: flex;
        align-items: center;

        &:hover{
            cursor: pointer;
            opacity: 0.7;
        }

        & p{
            color: var(--md-sys-color-primary);
            line-height: 2rem;
            font-size: 1.2rem;
        }

        & svg path{
            stroke: var(--md-sys-color-primary);
        }
    }
}