.dateInput-field{
    background-image: url(./calendar.svg);
    background-repeat: no-repeat;
    background-position: right 1.4rem center;

    //Hide default calender icon
    &::-webkit-calendar-picker-indicator {
        opacity: 0;
        cursor: pointer;
    }
    
}

    //Hide placeholder when it's not focus
    // input[type='date']:not(:focus):in-range::-webkit-datetime-edit-year-field,
    // input[type='date']:not(:focus):in-range::-webkit-datetime-edit-month-field,
    // input[type='date']:not(:focus):in-range::-webkit-datetime-edit-day-field,
    // input[type='date']:not(:focus):in-range::-webkit-datetime-edit-text {
    //     color: transparent;
    // }
