.event{
    display: flex;
    flex-direction: column;
    max-width: 31rem;
    border: 1px solid var(--md-sys-color-outline-variant);
    background-color: var(--md-sys-color-surface-container);

    &__image{
        width: 100%;
        height: auto;
        max-height: 19rem;
        object-fit: cover;
    }

    &__info{
        padding: 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        &-date-availability{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.2rem;
            line-height: 2rem;
            font-weight: 500;

            & .date{
                color: var(--md-sys-color-on-surface);
            }
            
            & .availability{
                padding: 0.2rem 1rem;
                border-radius: 4px;
                &.filling-up-fast{
                    background-color: var(--md-sys-color-fillingupfast);
                }

                &.moderate{
                    background-color: var(--md-sys-color-moderate);
                }

                &.available{
                    background-color: var(--md-sys-color-available);
                }

                &.new{
                    background-color: var(--md-sys-color-new);
                }
            }
        }

        &-name{
            font-size: 1.6rem;
            line-height: 2.6rem;
            font-weight: 600;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: var(--md-sys-color-on-surface);
        }

        &-detail{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 0.8rem;
            column-gap: 0.3rem;
          
            & div{
                display: flex;
                align-items: center;
                gap: 0.8rem;
                font-size: 1.2rem;
                line-height: 2rem;
                color: var(--md-sys-color-on-surface);

                & path{
                    fill: var(--md-sys-color-on-surface);
                }
            }
        }

        &-speakers{
            height: 2.7rem;
            display: flex;
            align-items: center;
            gap: 1.6rem;
            font-size: 1.2rem;
            line-height: 2rem;

            & p{
                color: var(--md-sys-color-on-surface);
            }

            & .avatars{
                display: flex;
                align-items: center;
                height: 100%;

                & img:first-child {
                    margin-left: 0; /* Ensures the first image is not shifted */
                }

                & img{
                    height: 100%;
                    aspect-ratio: 1;
                    margin-left: -0.8rem;
                    border: 1px solid var(--md-sys-color-outline-variant);
                    border-radius: 50%;

                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
        }

        &-button{
            gap: 0.4rem;

            & svg{
                stroke: var(--md-sys-color-on-tertiary);
                height: 2.6rem;
                aspect-ratio: 1;
            }
        }
    }
}

@media screen and (min-width: $phone) and (max-width: $desktop){
    .event{
        max-width: 35.8rem;
        width: 35.8rem;
    }
}