.event{
    display: flex;
    flex-direction: column;
    max-width: 31rem;
    border: 1px solid var(--separator-color);
    background-color: var(--white);

    &__image{
        width: 100%;
        height: auto;
        max-height: 19rem;
        object-fit: cover;
    }

    &__info{
        padding: 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        &-date-availability{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.2rem;
            line-height: 2rem;
            font-weight: 500;

            & .availability{
                padding: 0.2rem 1rem;
                border-radius: 4px;
                &.filling-up-fast{
                    background-color: var(--orange-400);
                }

                &.moderate{
                    background-color: var(--yellow-400);
                }

                &.available{
                    background-color: var(--cyan-400);
                }

                &.new{
                    background-color: var(--teal-400);
                }
            }
        }

        &-name{
            font-size: 1.6rem;
            line-height: 2.6rem;
            font-weight: 600;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &-detail{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 0.8rem;
            column-gap: 0.3rem;
          
            & div{
                display: flex;
                align-items: center;
                gap: 0.8rem;
                font-size: 1.2rem;
                line-height: 2rem;
                color: var(--text-medium);
            }
        }

        &-speakers{
            height: 2.7rem;
            display: flex;
            align-items: center;
            gap: 1.6rem;
            font-size: 1.2rem;
            line-height: 2rem;
            color: var(--text-medium);

            & .avatars{
                display: flex;
                align-items: center;
                height: 100%;

                & img:first-child {
                    margin-left: 0; /* Ensures the first image is not shifted */
                }

                & img{
                    height: 100%;
                    aspect-ratio: 1;
                    margin-left: -0.8rem;
                    border: 1px solid var(--white);
                    border-radius: 50%;

                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
        }

        &-button{
            gap: 0.4rem;

            & svg{
                stroke: var(--white);
                height: 2.6rem;
                aspect-ratio: 1;
            }
        }
    }
}