.eventspage__searchbar{
    grid-column: 2 / 12;
    margin-top: 5.2rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    background-color: var(--white);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

    &-searchbox{
        display: flex;
        gap: 0.8rem;
        align-items: center;

        & input{
            flex-grow: 1;
            border: none;
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: var(--text-regular);

            &:focus{
                outline: none;
            }
        }
    }

    & .separator{
        border-bottom: 1px solid var(--separator-color);
        width: 100%;
    }

    &-filters{
        display: flex;
        justify-content: space-between;
        height: 3.2rem;

        & [class$="-filter"]{
            display: flex;
            align-items: center;
            gap: 0.8rem;

            & img{
                height: 100%;
                aspect-ratio: 1;
            }

            & p{
                font-size: 1.4rem;
                line-height: 2.4rem;
                color: var(--text-medium);
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: $phone) and (max-width: $desktop){
    .eventspage__searchbar-container{
        width: 100%;
        margin-top: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;

        & .eventspage__searchbar{
            width: 35.8rem;
            height: auto;
            padding: 1.6rem;
            gap: 2.4rem;
            margin: 0;
        
            &-filters{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 4.6rem;
        
                & .location-filter, .event-filter, .date-filter{
                    display: none;
                }

                & .filter-button.btn{
                    font-size: 1.6rem;
                    line-height: 2.8rem;
                    height: 100%;
                    flex: 1;
                }
            }
        }
    }
}