@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

$phone: 390px;
$desktop: 1335px;

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 390px) { @content; }
    } @else if $breakpoint == desktop {
        @media (min-width: 1440px) { @content; }
    }
}

:root{
    --white: #FFFFFF;
    --black: #121212;
    --cyan: #0BAACA;
    --cyan-400: rgba(11, 170, 202, 40%);
    --teal: #1C836D;
    --teal-400: rgba(28, 131, 109, 40%);
    --yellow-600: #D6A206;
    --yellow-400: rgba(214, 162, 6, 40%);
    --orange: #D56A11;
    --orange-400: rgba(213, 106, 17, 40%);
    --text-bold: #121212;
    --text-regular: #807E7E;
    --text-medium: #605F5F;
    --separator-color: #EAEAEA;
    --post-text-color: #3E3E59;
    --glass-white: rgba(255, 255, 255, 0.4);
    --skillbox-color: #A7A7A7;
    --font-family: "Figtree", "Inter", sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html{
    min-height: 100vh;
    font-size: 10px;
    background-image: url('https://th.bing.com/th/id/R.21228762a3d9e9ed62dd633b465a7ee6?rik=Mds6%2b9gvLyTTLA&pid=ImgRaw&r=0');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

main{
    display: relative; //to position some <Outlet/> content
}

.modal-container{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden; 
    opacity: 0; 
    transition: visibility 0s, opacity 0.5s ease;
    z-index: 2000;
}

.modal-container.show {
    visibility: visible;
    opacity: 1;
}

.no-scroll {
    overflow: hidden;
}




